<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @idea.status %>
</p>

<p>
  <strong>Vote score:</strong>
  <%= @idea.vote_score %>
</p>

<p>
  <strong>Joined Members:</strong>
  <% @idea.participants.each do |member| %>
  <%= member.email + ", " %> 
  <% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @idea.user.email %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %> |
<%= link_to 'Add a Comment', new_idea_comment_path(@idea) %>
  <% @idea.comments.each do |comment| %>
  <p>
    <strong>body:</strong>
    <%= comment.body %>
  </p>
  <p>
    <strong>comment by:</strong>
    <%= comment.user.email %>
  </p>
  <p>
    <strong>date posted:</strong>
    <%= comment.created_at %>
  </p>
<%end%>










